/artifacts/*
!/artifacts/.gitkeep

/.synapse/*
!/.synapse/ignored.json

/.tools/*
!/.tools/.gitkeep

/.vs/
/TestResults/

**/bin/
**/obj/

node_modules/
/.npm/
/.vscode-test/
/.eslintcache
*.vsix

/extensions/*/dist/
/extensions/*/out/
/extensions/*/.vscode-test/
/extensions/*/coverage/
